@import "~bootstrap/scss/bootstrap";

#menu {
  border: 1px solid black;
  height: 100px;
  font-size: 40px;
  text-align: center;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

    li {
      cursor: pointer;
    }
    li:hover {
      text-decoration: underline;
    }
  }
}

#content {
  border: 1px solid #000;
  min-height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
    .product_card {
        margin: 24px 12px 24px 12px;

        h3 {
            margin-bottom: 100px;
        }
    }
}


#modal {
    display: flex;
    justify-content: space-between;
    div {
        flex-basis: 400px;
    }
    #modal_details {
        width: 70%;
    }

    #modal_price {
        font-weight: bold;
        font-size: 24px;
        width: 30%;
    }

    .textBg {
        font-size: 22px;
        font-weight: bold;
    }
  
    .inputCust {
        border-radius: 10px;
        height: 40px;
        width: 300px;
        border: 1px solid gray;
    }
  
    .mg {
        margin-right: 15px;
    }

    .btn_lg {
        display: flex;
        width: 300px;
        margin-top: 5px;
    }
}